.about-me-cover {
  margin-top: adapter(230px);

		&__container {
      display: flex;
      justify-content: space-between;

      max-height: 506px;
      height: max-content;

      &--desktop {
        display: flex;
      }

      &--mobile{
        display: none;
      }
		}

    &__text-block{
      width: 55%;
      height: min-content;
    }

		&__heading {
      margin-top: adapter(60px);
      margin-bottom: adapter(26px);
      max-width: 516px;
      width: 100%;
      font-weight: bold;
		}

		&__desc {
      margin-bottom: adapter(76px);
      max-width: 625px;
      width: 100%;

      line-height: 1.5;
      letter-spacing: 1.2px;
      color: #A8A8A8;
		}

    &__button{
      padding: 20px 50px;
      font-weight: 600;
      font-size: 16px;
      text-transform: capitalize;
    }

    &__portrait-wrapper{
      max-width: 454px;
      width: 40%;
      //height: 506px;
      aspect-ratio: 454/506;
      position: relative;
        &::after{
          content: "";
          position: absolute;
          right: 0px;
          top: -15px;
          width: 100px;
          height: 34px;
          background-image: url("./images/decotation-ellipse.png");
          background-repeat: no-repeat;
          background-size: contain;
          z-index: 1;
        }
        &::before{
          content: "";
          position: absolute;
          left: -40px;
          bottom: 48px;
          height: 178px;
          width: 55px;
          background-image: url("./images/decotation-ellipse-vertical.png");
          background-repeat: no-repeat;
          background-size: contain;
          z-index: 1;
        }
      }

    &__portrait{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0 -20px;
      align-self: flex-end;
      border-radius: 30px;
      display: block;
    }
}

@media(max-width: 900px){
  .about-me-cover {

		&__container {
      max-height: none;


      &--desktop {
        display: none;
      }

      &--mobile{
        display: flex;
        flex-direction: column;
      }
		}

    &__text-block{

    }

		&__heading {
      margin-right: auto;
      margin-left: auto;
      max-width: none;
      text-align: center;
		}

		&__desc {
      margin-right: auto;
      margin-left: auto;
      margin-top: adapter(76px);
		}

    &__button{
      padding: 17px 20px 17px 20px;
      width: 225px;
      height: min-content;
      margin-right: auto;
      margin-left: auto;
    }

    &__portrait-wrapper{
      width: 100%;
      margin: 0 auto;
      //max-width: 600px;

        &::after{

        }
        &::before{

        }
      }

    &__portrait{

    }
}

}