.contact-form {
  margin-top: adapter(150px);
  margin-bottom: adapter(115px);

		&__container {
      //height: 440px;
      height: min-content;
      display: flex;
      justify-content: space-between;
		}

		&__heading {
      max-width: 436px;
      width: 40%;
      font-weight: bold;
		}

		&__form {
      max-width: 580px;
      width: 55%;
		}

		&__form-row {
         height: 80px;
         margin-bottom: 50px;
         display: flex;
         flex-direction: column;
         justify-content: space-between;

         &:last-of-type{
            margin-bottom: 0px;
            height: min-content;
         }
		}

		&__form-label {
      font: {
        family: "Rubik", sans-serif;
        size: 24px;
      }
      text-transform: uppercase;
		}

		&__form-input {
      border: none;
      border-bottom: 1px solid #949494;
      outline: none;

      padding-left: 10px;
      padding-bottom: 5px;
      color: #b4b4b4;

      text-wrap: wrap;

      font: {
        family: "Rubik", sans-serif;
        size: 24px;
      }

      &:focus {
        border-bottom: 1px solid #b4b4b4;
      }
		}

    &__send-button{
      padding: 11px 47px;
      width: min-content;
      font-size: 24px;
      text-transform: uppercase;
      font-weight: normal;
    }
}


@media(max-width: 900px){
   .contact-form {
      &__container{
         flex-direction: column;
      }

      &__heading {
         width: 100%;
         margin-bottom: adapter(100px);
      }

      &__form {
         width: 100%;
         max-width: none;
      }
   }
}