.follow-me {
   margin-top: adapter(140px);
   margin-bottom: adapter(230px);

		&__container {
      font: {
         weight: bold;
         size:48px;
      }
		}

		&__heading {
      margin-bottom: 50px;
		}

		&__wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: start;

		}

		&__item {
         font: {
            family: "Inter", sans-serif;
            //size:32px;
            size: clamp(1.125rem, 0.17391304347826098rem + 2.0289855072463765vw, 2rem);
         }
         letter-spacing: 4px;
         color:#949494;

         transition-duration: 0.3s;

         &:hover{
            color: #949494;
            color: var(--brand-color);
         }
		}
}

@media(max-width: 700px){
   .follow-me {

      &__heading{
         text-align: center;
      }

      &__wrapper{
         flex-direction: column;
         gap: 20px;
         align-items: center;
      }

      &__item{
         font-size:32px;
      }
   }
}