.mission {
   margin-top: adapter(90px)  ;

		&__container {
         display: flex;
         flex-wrap: wrap;
         justify-content: start;
         align-items: start;
         row-gap: 100px;
         column-gap: adapter(28px);
		}

      &__texts-wrapper{
         width: 100%;
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         column-gap: 1vw;
      }

		&__heading {
      //font-size: 80px;
      font-size: clamp(1.875rem, 0.6730769230769229rem + 4.807692307692308vw, 5rem);
      max-width: 535px;
      //width: 46%;
      width: 100%;
      //height: 340px;
      height: min-content;
      //margin-left: adapter(25px);
      //margin-right: 35px;
		}

		&__paragraph {
      color: #949494;
      max-width: 500px;
      //width: 43%;
      width: 100%;
      //height: 280px;
      height: min-content;
      margin-top: 20px;

      font: {
         //size:21px;
         size: clamp(1.125rem, 0.875rem + 1vw, 1.3125rem);
         //family: 'Open Sans';
         weight: 500;
      }
      line-height: 1.39;
      letter-spacing: -0.66px;
		}

      &__images-wrapper{
         width: 100%;
         display: grid;
         grid-template-columns: 1fr auto;
         column-gap: 1vw;
      }

		&__img-wrapper {
         max-width: 360px;
         min-width: 260px;

         &:first-of-type {
            //margin-right: 28px;
         }

         position: relative;
         &::before{
            content: "";
            position: absolute;
            left: -30px;
            top: 0px;
            height: 178px;
            width: 55px;
            background-image: url("./images/decotation-ellipse-vertical.png");
            background-repeat: no-repeat;
            background-size: contain;
            z-index: 1;
         }

         &--wide {
            max-width: none;
            max-width: 750px;
            height: 515px;
            &::before{
               left: auto;
               top: auto;
               right: 0px;
               bottom: -30px;
               width: 178px;
               height: 55px;
               background-image: url("./images/decotation-ellipse.png");
            }
			}
		}

		&__img {
         width: 100%;
         height: 100%;
         border-radius: 16px;
         object-fit: cover;
		}
}

@media (max-width: 1100px) {
   .mission__paragraph {
      margin-top: 0;
   }
}


@media(max-width: 700px){
   .mission{

      &__container{
         flex-direction: column;
         row-gap: adapter(20px);
      }

      &__heading{
         margin-left: 0;
         width: 100%;
      }

      &__paragraph {
         width: 100%;
      }

      &__img-wrapper{
         width: 100%;
      }

      &__images-wrapper{
         grid-template-rows: 1fr 1fr;
         grid-template-columns: none;
         row-gap: 3vh;

         .mission__img-wrapper{
            max-width: none;
         }
      }
   }
}