.page-heading {
  margin-top: adapter(138px);
  //padding-bottom: 90px;
  height: min-content;

  &__container{
    padding-bottom: adapter(90px);
    position: relative;

    //overflow: hidden;
    @include glow-l-t--big(-500px, -250px, 5s, 0s);
    
    &::before{
      content: "";
      width: calc(100% - 2*var(--global-horisontal-padding));
      height: 1px;
      background-color: #FFFFFF;
      bottom: 0px;
      left: var(--global-horisontal-padding);
      position: absolute;
    }
  }
  
		&__title {
      max-width: 424px;
      width: 100%;
      margin-bottom: 10px;
		}

		&__subtitle {
      width: 300px;
      color: #949494;
      //margin-bottom: 90px;
		}
}
