@use '../helpers/' as *;

.footer{

  &__wrapper{
    margin-top: rem(100);
    margin-bottom: rem(20);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: rem(5);

    & a{
      display: block;
    }
  }
}