@use '../helpers/' as *;

.header{
  margin-top: rem(40);
  margin-bottom: rem(140);

  &__top{
    margin-bottom: rem(20);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
  }

  &__logo{

    &-image{
      width: rem(100);
      height: auto;
    }

    &-link{
      @include hover{
        color:inherit;
      }
    }
  }

  &__menu{

    &-list{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: start;
      column-gap: rem(20);
    }

    &-link{
      font-weight: 100;
      display: block;
      text-decoration: none;
      transition-duration: 0.4s;

      @include hover{
        opacity: 0.6;
      }

      &.is-active{
        text-decoration: underline;
        text-decoration-thickness: 1px;
      }
    }
  }
}