@use '../helpers/' as *;

/* Скрываем модальное окно по умолчанию */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 100;
  justify-content: center;
  align-items: center;

  &:target {
    display: flex;
  }

  &__content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    z-index: 90;
  }

  &__image {
    max-width: 100%;
    max-height: 80vh;
    display: block;
    margin: 0 auto;
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: var(--color-dark);
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      color: var(--color-accent);
    }

    &-background{
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0);
      z-index: 50;
    }
  }
}