@use '../helpers/' as *;

.order{
  &-screen{
    padding: rem(10);
    position:fixed;
    left: 10vw;
    top: 10vh;
    width: 80vw;
    height: 80vh;
    background-color: var(--color-gray-70);

    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(.is-active){
      @include visually-hidden;
    }

    &__cancel-button{
      position: absolute;
      right: rem(20);
      top: rem(20);
      font-size: rem(40);
      @include square(rem(70));
      text-align: center;
      border: none;
      background-color: transparent;
    }
  }

  

  &-form{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: rem(20);

    &__cell{
      display: flex;
      flex-direction: column;
      

      & input{
        border: none;
        background-color: transparent;
        border-bottom: 1px solid var(--color-dark);
      }
    }
  }
}