@use '../helpers/' as *;

.section{

  &__wrapper{
    display: flex;
    flex-direction: column;
    row-gap: rem(20);
    padding-top: rem(10);
    background-color: var(--color-white);

    //box-shadow: 0px 0px 10px 5px var(--color-white);
    //border-radius: 15px;
  }

  &__header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
  }

  &__title{
    font-weight: 200;
  }

}