@use 'helpers' as *;

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);

  &--slim{
    padding-inline: calc(var(--container-padding-x) + 10vw);

    @include tablet{
      padding-inline: calc(var(--container-padding-x) + 5vw);
    }
  }
}

.button{
  background-color: transparent;
  border: none;

  &--accent{
    font-family: var(--font-family-base);
    font-weight: 100;
    letter-spacing: 0.1em;
    padding: rem(5);
    color: var(--color-white);
    background-color: var(--color-dark-10);
  }
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile{
  @include mobile {
    display: none !important;
  }
}

.visible-mobile{
  @include mobile-above {
    display: none !important;
  }
}

.full-vw-line{
  position: relative;

  &::before,
  &::after {
    position: absolute;
    width: calc(
      (100vw - var(--container-width)) / 2
    );
    height: rem(1);
    background-color: var(--color-dark-15);
  }

  &--top{
    &::before{
      content: '';
      bottom:100%;
    }
  }

  &--bottom{
    &::after{
      content: '';
      top:100%;
    }
  }

  &--left{
    &::before,
    &::after{
      right: 100%;
    }
  }

  &--right{
    &::before,
    &::after{
      left: 100%;
    }
  }
}