@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Rubik:wght@300..900&family=Sora:wght@100..800&family=Syne:wght@400..800&display=swap');

//   font-family: "Syne", sans-serif;
//   font-family: "Rubik", sans-serif;
//   font-family: "Inter", sans-serif;
//   font-family: "Sora", sans-serif;

h1, h2, h3{
  font-family: "Syne", sans-serif;
}
h1{
  font-weight: bold;
  //font-size: 72px;
  //font-size: clamp(1.22rem, 2.3vw + 1rem, 1.756rem);
  font-size: clamp(3rem, 2.5rem + 2.2222222222222223vw, 4.5rem);;
}
h2{
  //font-size: 64px;
  //font-size: clamp(1.229rem, 1.65vw + 1rem, 1.829rem);
  font-size: clamp(2.625rem, 2.1666666666666665rem + 2.037037037037037vw, 4rem);
}
h3{
  //font-size: 56px;
  //font-size: clamp(1.276rem, 1.85vw + 1rem, 1.931rem);
  font-size: clamp(2.375rem, 2rem + 1.6666666666666667vw, 3.5rem);
}

h4{
  font-family: "Rubik", sans-serif;
  //font-size: 24px;
  font-size: clamp(1rem, 0.8333333333333333rem + 0.7407407407407408vw, 1.5rem);
}

p{
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}
.p--large{
  font-size: 18px;
}

a{
  font-family: "Rubik", sans-serif;
  //font-size: 14px;
  font-size: clamp(0.75rem, 0.4285714285714286rem + 1.4285714285714286vw, 0.875rem);

  color: #FFFFFF;
  opacity: .5;
  text-decoration: none;
  text-transform: uppercase;
}

body{
  background-color: var(--secondary-color1);
  overflow-x: hidden;
}

html{
  overflow-x: hidden;
}

.common-button {
  border-radius: 1000px;
  width: auto;
  //height: 47px;
  cursor: pointer;
  border: none;
  text-wrap: nowrap;
  opacity: 1;
    

  font: {
    family: "Rubik", sans-serif;;
    size: 14px;
    weight: bold;
  }
    
  &--black {
    padding: 13px 34px;
    background-color: #030304;
    border: 2px solid rgba(255,255,255,.3);
    opacity: .8;
    text-transform: uppercase;
  }

  &--orange{
    background-color: var(--brand-color);
  }

  &--transparent {
    background-color: transparent;
  }

  &--orange-border {
    border: 2px solid var(--brand-color);
  }

  &--with-arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img{
      width: 16px;
      height: 10px; 
      background-color: transparent;
    }
  }
}

.menu {
		&__list {
			height: 100%;
			width: 100%;

			display: flex;
			justify-content: space-between;
		}

		&__item {
			text-wrap: nowrap;
			display: flex;
			align-items: center;
		}
}

