.container {
  width: 100%;
  max-width: 1440px;

  padding: 0 min(10.4vw, 150px);
  margin: 0 auto;
}

.hide{
  display: none !important;
}

@keyframes shine {
  0%{
    opacity: 1;
  }
  50%{
    opacity: .5;
  }
  100%{
    opacity: 1;
  }
}

// #{calc($value / 1440px * 100)}vw;
@function adapter($value){
  @return #{calc($value / 1440px * 140)}vw;
}