@use '../helpers' as *;

.download-info{
  display: inline-grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  column-gap: rem(50);

  @include laptop {
    column-gap: rem(30);
  }

  &__team{
    --person-image-size: #{rem(50)};

    background-color: var(--color-dark);
    border-radius: rem(12);
    
    @include laptop{
      --person-image-size: #{rem(40)};
    }
  }
}
