@use '../helpers' as *;

.team{
  --person-image-size: #{rem(60)};

  display: flex;
  padding: rem(10);
  background-color: var(--color-dark-10);
  border-radius: rem(100);

  @include laptop{
    --person-image-size: #{rem(50)};
    padding: rem(8);
  }

  @include tablet{
    --person-image-size: #{rem(40)};
  }

  &__person{
    width: var(--person-image-size);
    background-color: var(--color-dark-15);
    border-radius: 50%;
    border: rem(2) solid var(--color-dark-40);

    @include laptop{
      border-width: rem(1);
    }

    &:not(:first-child){
      margin-left: calc(var(--person-image-size) / 4 * -1);
    }
  }
}