@use '../../normalize';
@use '../../fonts-pages';
@use '../../variables';
@use '../../utils';
@use '../../globals';

@use '../../blocks/header';
@use '../../blocks/section';
@use '../../blocks/footer';
@use '../../blocks/product';
@use '../..//blocks/modal';
