@use '../helpers/' as *;

.animated-tiles{
  

  &__list{
    display: grid;
    grid: auto / repeat(8, 1fr);
    gap: min(5vw, 50px);
    align-items: center;
    padding: 0 50%;

    scroll-snap-type: x mandatory;

    height: 100vh;
    width: 100%;
    overflow: hidden;
    //height: auto;

    position: sticky;
    top: calc(50vh - 150px);
    top: 0;
    object-fit: cover;
  }

  &__item{
    width: 200px;
    height: 300px;
    display: flex;
    border: 2px solid var(--color-light);

    transform-origin: center center;
    will-change: transform;
    transition: transform 0.03s linear;

    background-color: var(--color-dark-10);
  }
}