@use '../helpers/' as *;

.animated-section {
  height: 400vh;
  
  margin-bottom: 10vh; // можно убрать
  display: flex;
  justify-content: center;
  align-items: start;

  &__wrapper {
    position: sticky;
    top: 0;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 3px solid var(--color-light);
    
  }

  & video{
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  & canvas{
    position: sticky;
    top: 0;
    width: auto;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
    object-fit: cover;
  }
}