@use '../helpers/' as *;

.paragraph-section{
  

  &__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;

    border: 3px solid var(--color-light);

    margin-bottom: 10vh;
  }
}